.checkbox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  
    input[type="checkbox"]{
        display: none;
    }
    .uncheck{
        height: 13px;
        width: 45px;
        content: url("../svg/uncheck.svg");
        transition: 1s;
    }
    input[type="checkbox"]:checked + .uncheck{
        content: url("../svg/check.svg");
    }
}