.icon{
    width: 15px;
}
.icon-13{
    width: 13px;
}
.icon-20{
    width: 20px;
}

.icon-plus-white{
    content: url('../svg/plus_white.svg');
}
.icon-plus-dark{
    content: url('../svg/plus_dark.svg');
}
.icon-plus-trash{
    content: url('../svg/trash_red.svg');
}
.icon-plus-search{
    content: url('../svg/search.svg');
}
.icon-plus-checklist{
    content: url('../svg/checklist.svg');
}
.icon-plus-checkcomplete{
    content: url('../svg/check_complete.svg');
}