$primaryColor:#01CEB6; 
$primary2Color:#0EC4C4; 
$greenColor: #11806A;
$whiteColor: #ffffff;
$grayColor: #EBEBEB;
$gray2Color: #D0D0D0;
$beigeColor:#FFC183;
$placeColor: #FFFFFF99;

$textWhiteColor: #FFFFFFDE;
$textPrimaryColor: #4B9F8E;
$textPrimary2Color: #11766A;
$textGrayColor: #707070;
$textBlackColor: #000000DE;