@import './assets/scss/vars.scss';
@import './assets/scss/icons.scss';
@import './assets/scss/font.scss';

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-width: 410px;
    height: 100%;
    background: $whiteColor;
}

::-webkit-scrollbar{
    display: none;
}

.b-primary{
    background: $primaryColor;
}

.c-white{
    color: $whiteColor;
}

.font-weigth-bold{
    font-weight: 500;
}

.aling-self-center{
    align-self: center;
}

input{
    &:focus{
        outline: none;
    }
}

.hover-pointer:hover{
    cursor: pointer;
}